.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: space-around;
}

.formItem {
    display: flex;
    height: 100%;
    align-items: center;
}

.formItem input {
    width: 100%;
    height: 100%;
    padding: 8px 0;
    margin: 5px 0;
    border: 1px solid rgb(163, 87, 9);
    background: #1f1e1b;
    padding-left: 25px;
    color: #F0E3CA;
}

.formItem input:hover {
    box-shadow: 1px 1px 3px rgba(163, 87, 9, 0.5), 
    inset 0px 0px 8px rgba(163, 87, 9, 0.8);
}

.formItem input:focus {
    outline: 1px solid #dd8303;
}

.formItem input:last-child {
    border-radius: 25px 45px 0 25px;
}

.formItem input:first-child {
    border-radius: 25px 0 45px 25px;
}

.btn {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #A35709;
    background: #1f1e1b;
}

.btn:hover {
    outline: 1px solid #dd8303;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(163, 87, 9, 0.5), 
    inset 0px 0px 8px rgba(163, 87, 9, 0.8);
}

form {
    display: flex;
    width: 30%;
}

i {
    color: #A35709;
}

.btn:hover i {
    color: #dd8303;
}