.task-card {
    min-width: 300px;
    height: 416px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #A35709;
    backdrop-filter: invert(80%);
    background-color: #1f1e1b;
    border-radius: 25px;
}

h1 {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.task-card .play-pause i{
    width: 20px;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    opacity: 0;
}

.task-card .play-pause i:hover {
    background-color: #1b1a17fb;
    border-radius: 25px;
    opacity: 1;
    color: #A35709;
    box-shadow: 1px 1px 3px rgba(163, 87, 9, 0.5), 
    inset 0px 0px 8px rgba(163, 87, 9, 0.8);
}

.task-card h1 {
    width: 100%;
    height: 100%;
}