* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  /* perspective: 2500px; */
}

.box {
  width: 80%;
  height: 50%;
  margin-top: 20px;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  /* transform-style: preserve-3d; */
  
}

.box-suc-fai {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
