.task-list {
    min-width: 300px;
    min-height: 416px;
    color: #f0e3ca;
    border: 1px solid #a35709;
    border-radius: 25px;
    margin-top: 1%;
    background: #1f1e1b;
}

h5 span {
    padding-right: 10px;
}

h5 {
    color: #757575;
    font-weight: 400;
}

.task-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    min-height: 50px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a35709;
    border-bottom: 1px solid #a35709;
    min-height: 45px;
}

.task:hover {
    box-shadow: 1px 1px 3px rgba(163, 87, 9, 0.5), 
    inset 0px 0px 8px rgba(163, 87, 9, 0.8);
}

.task:not(:last-child) {
    border-bottom: none;
}

.task-btn {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.task-btn i:last-child {
    margin-right: 8px;
}

.task-btn i:first-child:hover {
    color: rgb(0, 238, 255);
    cursor: pointer;
}

.task-btn i:last-child:hover {
    color: red;
    cursor: pointer;
}