.task-list {
    width: 450px;
    height: 416px;
    color: #f0e3ca;
    border: 1px solid #a35709;
    border-radius: 25px;
    margin-top: 1%;
    background: #1f1e1b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backdrop-filter: invert(80%);
}

.tasks {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y:scroll;
    height: 100%;
    padding-bottom: 95px;
}

.tasks::-webkit-scrollbar {
    width: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a35709;
    border-bottom: 1px solid #a35709;
}

.task:hover {
    box-shadow: 1px 1px 3px rgba(163, 87, 9, 0.5), 
    inset 0px 0px 8px rgba(163, 87, 9, 0.8);
}

.task:not(:last-child) {
    border-bottom: none;
}

.task-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 325px;
    padding: 10px 0 10px 5px;
}

.task-btn {
    display: flex;
}

.failed {
    padding-right: 10px;
}

.task-btn i:last-child {
    margin-right: 8px;
}

.task-btn i:first-child:hover {
    color: rgb(0, 238, 255);
    cursor: pointer;
}

.task-btn i:last-child:hover {
    color: red;
    cursor: pointer;
}

.task-list h3 {
    /* border: 1px solid red; */
    word-wrap: break-word;
    line-height: 20px;
    width: 85%;
    overflow: hidden;
}

h5 span {
    padding-right: 10px;
}

h5 {
    color: #757575;
    font-weight: 400;
}

/* btn */
.btn-list {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #1B1A17;
    height:5%;
}

.btn-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.btn-box:nth-child(1):hover {
    background-color: #FFD700;
}
.btn-box:nth-child(2):hover {
    background-color: #32CD32;
}
.btn-box:nth-child(3):hover {
    background-color: #FF4500;
}

.btn-box:hover {
    border: none;
}

.btn-box span {
    width: 100%;
    text-align: center;
}
.count1 {
    color: #FFD700;
}
.count2 {
    color: #32CD32;
}
.count3 {
    color: #FF4500;
}

.btn-box:hover span {
    opacity: 0;
}

.btn-box:nth-child(1) {
    border: 1px solid #A35709;
    border-radius: 25px 0px 0 0 ;
}
.btn-box:nth-child(2) {
    border: 1px solid #A35709;
}
.btn-box:nth-child(3) {
    border: 1px solid #A35709;
    border-radius: 0px 25px 0 0 ;
}

.quantity {
    width: 32px;
    height: 65%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
